.cardContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(119, 92, 92);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  width: 10rem;
  height: 15rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  color: white;
}

@media (max-width: 350px) {
  img {
    width: 8rem;
    height: 12rem;
  }
}
